<p-card header="Pedido">
  <div class="text-right m-2">
    <button pButton
            (click)="salvar()"
            type="button"
            label="Salvar"
            class="ui-button-raised">
    </button>
  </div>
  <div class="container">
    <h3></h3>
    <span class="ui-float-label my-2">
      <p-dropdown id="cliente" [options]="clienteListDropdown"
                  [(ngModel)]="objeto.cliente" optionLabel="label">
      </p-dropdown>
      <label for="cliente">Cliente</label>
    </span>

    <p-card header="Itens do Pedido">
      <div class="text-right m-2">
        <button pButton
                [routerLink]="['pedidoitem/form']"
                type="button"
                label="Adicionar Item"
                class="ui-button-raised">
        </button>
      </div>
    </p-card>

    <span class="ui-float-label my-2">
      <p-calendar id="dataEmissao" appendTo="body" [(ngModel)]="objeto.dataEmissao"
                  dateFormat="dd/mm/yy" dataType="string">
      </p-calendar>
      <label for="dataEmissao">Data Emissão</label>
    </span>
    <span class="ui-float-label my-2">
      <input id="total" pInputText size="30" maxlength="20" type="text" [(ngModel)]="objeto.total">
      <label for="total">Total</label>
    </span>
  </div>
</p-card>

